<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>由</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/ourongxing"
      target="_blank"
    >
      ourongxing
    </a>

    <span pr-1>修改自</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/ddiu8081/chatgpt-demo"
      target="_blank"
    >
      Diu
    </a>
    <span px-1>| 由 </span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/eryajf"
      target="_blank"
    >
      eryajf
    </a>
    <span pr-1>部署维护</span>
  </p>
  <p mt-1 text-sm text-slate>
    自己用用就好，不要推广转发。人少用的时间就长，懂吧。
    <br>
    你也可以填入自己的 OpenAI API Key，更加嗨皮地体验。
  </p>
</footer>
